
div.container {
    width: auto;
    border: 2px solid gray;
    overflow: hidden;
    background-color: gainsboro;
}

div.sidebar {
    float: left;
    height: 1000px;
}

header, footer {
    padding: 2em;
    color: white;
    background-color: darkgrey;
    clear: left;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 175px;
    height: 100%;
    background-color: #f1f1f1;
    float: left;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;

}
